# ------------------------
# Data (don't commit raw / processed data)
# ------------------------
data/
data/processed/
*.csv
*.tsv
*.parquet
*.xlsx
*.xls
*.h5
*.hdf5
*.pkl
*.pickle
*.joblib
*.zip

# Ignore env
thesis-env/

#Ignore python cache
__pycache__/

#ignore results
results/